.friend{
    border: 0.1em solid;
    border-radius: 1em;
    max-width: 20em;
    margin: 0.25em;
    padding: 0.5em;
}

.menulink{
	margin-top: 1em;
	border: 4px;
	border-style: double;
	border-color: black;
}

.status{
	margin: 1em;
	padding: 1em;
	border: 1px;
	border-style: solid;
	border-color: gray;
}

.comment{
	border-left: 2px;
	border-left-style: solid;
	border-left-color: gray;
	padding-left: 0.5em;
}

.faded{
	font-size: x-small;
	color: #BBBBBB;
}

#statuses{
	float: left;
	margin: 1em;
}

#menu{
	float: left;
	margin: 1em;
}

#profileContainer{
	float: left;
	margin: 1em;
}
