p{
	word-wrap: break-word;
}

input[type=submit]{
	color: black;
	font-weight: bold;
	background-color: #e0e0e0;
	border: 1px solid black;
	border-radius: 2px;
	margin: 2px;
}

input[type=submit]:hover{
	color: black;
	font-weight: bold;
	background-color: #d0d0d0;
	border: 1px solid black;
	border-radius: 2px;
	margin: 2px;
}

input[type=submit]:active{
	color: black;
	font-weight: bold;
	background-color: #d0d0d0;
	border: 2px solid black;
	border-radius: 2px;
	margin: 1px;
}

.column{
	float: left;
	margin: 1em;
	max-width: 400px;
}

.statusTextArea{
	width: 97%;
	margin: 0.2em;
}

.FlairClose{
	float: left;
}

.menulink{
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.menulink a{
	color: black;
	font-weight: bold;
	background-color: #e0e0e0;
	border: 1px solid black;
	border-radius: 2px;
	margin: 2px;
	padding: 0.1em;
	text-decoration: none;
}

.menulink a:hover{
	color: black;
	font-weight: bold;
	background-color: #d0d0d0;
	border: 1px solid black;
	border-radius: 2px;
	margin: 2px;
}

.menulink a:active{
	color: black;
	font-weight: bold;
	background-color: #d0d0d0;
	border: 2px solid black;
	border-radius: 2px;
	margin: 1px;
}

.menulink a:visited{
	color: #606060;
}

.windows, .newStatus{
	margin-top: 0;
	margin-bottom: 1em;
	border: 5px #000080 solid;
}

.newStatus{
	text-align: right;
	margin-top: 0;
}

.comment{
	border-left: 2px solid #000080;
	margin-top: 0.5em;
	padding-left: 0.5em;
}

.faded{
	font-size: x-small;
	color: #BBBBBB;
}

.windowHeaderText{
	color: white;
	font-size: medium;
	margin-top: 0px;
}

.windowHeader{
	background-color: #000080;
	text-align: center;
	height: 20px;
}

.windowBody{
	margin: 0.5em;
	padding: 0.1em;
}

.statusContent{
	margin: 1em;
}

.statusBody{
	margin: 0.5em;
	padding: 0.1em;
}

#statuses{
	float: left;
	margin: 1em;
	max-width: 400px;
}

#menu{
	float: left;
	margin: 0.5em;
	border: 5px #000080 solid;
}

#links{
	margin: 0.1em;
	padding: 0.2em;
}

#profileContainer{
	float: left;
	margin: 1em;
}
